<footer>
    <a href="https://webpages.charlotte.edu/pmoore54">Webpage</a> |
    <a href="https://github.com/prestonM3">Github</a> |
    <a href="https://prestonm3.github.io/">Github Page</a> |
    <a href="https://prestonm3.github.io/itis3135/">ITIS3135.io</a> |
    <a href="https://www.freecodecamp.org/prestonm3">freeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/prestonM3">CodeAcademy</a> |
    <a href="https://www.linkedin.com/in/preston-moore-593870388/">LinkedIn</a> |

    <p>Designed By <a href="./prestonfirm.co" class="company-name">Preston Firm ©2026</a></p>
    <p>Certified in <a href="https://freecodecamp.org/certification/prestonm3/responsive-web-design-v9">Responsive Web Design</a></p>
    <a href="https://validator.w3.org/check?uri=https://webpages.charlotte.edu/pmoore54/itis3135/">
                <img src="images/html_validation.png" alt="HTML Validation Result">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=https://webpages.charlotte.edu/pmoore54/itis3135/">
                <img src="images/vcss.png" alt="vcss">
    </a>
</footer>